body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


nav {
    margin-left: -25px;
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 25px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: lightgray;
}

/* Стили для кнопок */
button, input[type="submit"] {
    background-color: #4CAF50; /* Зеленый цвет */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover, input[type="submit"]:hover {
    background-color: #45a049; /* Темно-зеленый цвет при наведении */
}

/* Стили для форм */
.form-group {
    margin-left: 50px !important;
}


label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Стили для сообщений */
.alert {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.alert-success {
    background-color: #dff0d8; /* Зеленый цвет для успешных сообщений */
    color: #3c763d;
}

.alert-error {
    background-color: #f2dede; /* Красный цвет для сообщений об ошибках */
    color: #a94442;
}



