<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Ваши общие стили CSS -->
    <style>
        body {
            margin-left: 25px;
            border-left-style: solid;
            border-left-width: 0px;
        }
    </style>
</head>
<body>
    <header>
        <h1>To do app</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/secret">Secret</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="/todo">To Do</a></li>
                <li><a href="/logout">Logout</a></li>
                {% endif %}
                <!-- Добавьте здесь другие ссылки на навигацию -->
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Здесь будет содержимое каждого конкретного шаблона -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Pans-молодец. Все права котов защищены.</p>
    </footer>

    <!-- Ваши скрипты JavaScript -->
</body>
</html>
