{% extends "base.html" %}
{% block title %}Task{% endblock %}

{% block content %}
    <h1>{{ task.title }}</h1>
    <p><strong>Status:</strong> {% if task.completed %}Completed{% else %}Not Completed{% endif %}</p>
    <p><strong>Date Created:</strong> {{ task.date_created.strftime('%Y-%m-%d %H:%M:%S') }}</p>
    <hr>

    <!-- Описание задачи -->
    <div class="task-description">
        <h2>Description</h2>
        {{ task.description }}
    </div>

    <hr>




<!-- Форма для добавления комментария -->
<h2>Add Comment</h2>
<form method="POST">
    {{ comment_form.hidden_tag() }}
    <div class="form-group">
        {{ comment_form.content.label(class="form-control-label") }}
        <textarea name="content" class="form-control" rows="3"></textarea>
    </div>
    {{ comment_form.submit(class="btn btn-primary") }}
</form>

<!-- Комментарии -->
<h2>Comments</h2>
<ul>
    {% for comment in comments[::-1] %}
        <li><strong>{{ comment.date_posted.strftime('%Y-%m-%d %H:%M:%S') }}</strong>: {{ comment.content }}</li>
    {% endfor %}
</ul>

{% endblock %}
