{% extends "base.html" %}
{% block title %}Task{% endblock %}

{% block content %}
    <h1>{{ task.title }}</h1>
    <p><strong>Status:</strong> {% if task.completed %}Completed{% else %}Not Completed{% endif %}</p>
    <p><strong>Date Created:</strong> {{ task.date_created.strftime('%Y-%m-%d %H:%M:%S') }}</p>
    <hr>

    <!-- Описание задачи -->
    <div class="description">
        <h2>Description</h2>
        <div contenteditable="true" class="content">{{ task.description }}</div>
    </div>

    <hr>

    <!-- Комментарии -->
    <h2>Comments</h2>
    <ul>
        {% for comment in comments %}
            <li>{{ comment.content }}</li>
        {% endfor %}
    </ul>

<!-- Форма для добавления комментария -->
    <h2>Add Comment</h2>
    <form method="POST">
        {{ comment_form.hidden_tag() }}
        <div class="form-group">
            {{ comment_form.content.label(class="form-control-label") }}
            {{ comment_form.content(class="form-control") }}
        </div>
        {{ comment_form.submit(class="btn btn-primary") }}
    </form>
{% endblock %}
